<div id="crop-bar">
  <div id="crop-head">
    Фотографія страви
  </div>
  <div id="crop-text">
    Вибрана область буде відображена у описі страви
  </div>
  <div id="crop-view-nav">
    <div id="crop-view-image">
      <img src="" id="view-image">
    </div>
  </div>
  <button id="img-crop-accept" class="cmn-button">Зберегти</button>
  <button id="img-crop-cancel" class="cmn-button">Назад</button>
</div>