<div class="nav-bar">
  <span class="nav-left">
  	<a id="nav-books" href="/books">Книги</a>
  	<a id="nav-writers" href="/writers">Письменники</a>
  	<a id="nav-genres" href="/genres">Жанри</a>
    <a id="nav-users" href="/users">Користувачi</a>
    <div class="nav-add-wrapper">
      <a id="nav-journal">Журнал</a>
      <div class="dd-links">
        <a href="/requests">Заявки</a>
        <a href="/active">Активнi</a>
        <a href="/archive">Архiв</a>
      </div>
    </div>
    <div class="nav-add-wrapper">
      <a id="nav-add">Додати</a>
      <div class="dd-links">
        <a href="/add-book">Книгу</a>
        <a href="/add-writer">Письменника</a>
        <a href="/add-genre">Жанр</a>
      </div>
    </div>
  </span>
  <span class="nav-right">
    <a id="nav-logout" href="">Вихід</a>
  </span>
</div>