#img {
	width: 22.2vw;
	border: 0.2vw solid;
}

.dish-picture [type] {
	position: relative;
	margin-top: 10px;
}

#dish-select-photo {
	width: 20vw;
}

.dish-title {
	text-align: center;
	font-size: 2vw;
}

.dish-consistency {
	position: relative;
}

.dish-button {
	text-align: center;
}

.start {
	align-items: flex-start;
}

.dish-info {
	flex-grow: 8;
	margin-left: 5vw;
}

.dish-info .flex-wrapper {
	justify-content: space-between;
}

.dish-consistency .cmn-input-group {
	width: 40%;
	margin: 0 2%;
}

 #description-block {
	margin-top: 5em;
} 

#dish-measure-wrapper {
	width: 40%;
	transform: translateY(-20%);
}

.dish-font-select2
{
    font-size: 1.3vw;
}

#dish-measure-wrapper .select2-selection
{
    font-size: 1.3vw;
}

#measure-input {
	width: 60%;
	margin-left: 2%;
}

#dish-measure-wrapper select {
	width: 100%;
}

#dish-kitchen {
	width: 100%;
}

#dish-categories {
	width: 100%;
}

.dish-consistency select {
	width: 20vw;
}

.dish-consistency .select2-selection {
    font-size: 1.3vw;
}

.dish-consistency .flex-wrapper {
	align-items: flex-end;
	margin-bottom: 2vw;
}

#flex-kitchen .cmn-dropdown {
	width: 100%;
}

#flex-kitchen .cmn-category-block {
	width: 48%;
	margin: 0 1%;
}

.w45 {
	width: 45%;
}