<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/load-page.css">
    <link rel="stylesheet" href="/stylesheets/cropper.css">
    <link rel="stylesheet" href="/stylesheets/crop-page.css">

    <link rel='stylesheet' href='/stylesheets/add-book.css' type='text/css'>
    <style>
      #nav-add {
        color: white;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/crop-image.ejs %>
    <% include ../partials/load-page.ejs %>
    <div class="cmn-row">
      <div class="cmn-head">
        <span class="cmn-headline">Додати письменника</span>
      </div>
      <div class="flex-wrapper start">
        <div class="dish-picture">   
          <img src="/favicons/no-image.svg" id="img">
          <input type="file" accept="image/*" id="add-image" style="display: none;"> 
          <button class="cmn-button  cmn-button-center" id="dish-select-photo" onclick="document.getElementById('add-image').click()">Виберiть фото</button>
        </div>

        <div class="dish-info">
          <div class="cmn-input-group">
            <input type="text" class="cmn-input" id="name" autocomplete="off" required>
            <label class="cmn-input-label">П.I.Б. письменника</label>
            <span class="cmn-input-highlight"></span>
          </div>
          <div class="flex-wrapper">
            <div class="cmn-input-group w45">
              <input type="date" class="cmn-input" id="born-date" autocomplete="off" required>
              <label class="cmn-input-label">Дата народження</label>
              <span class="cmn-input-highlight"></span>
            </div>
            <div class="cmn-input-group w45">
              <input type="date" class="cmn-input" id="death-date" autocomplete="off" required>
              <label class="cmn-input-label">Дата смертi</label>
              <span class="cmn-input-highlight"></span>
            </div>
          </div>
          <div class="dish-title cmn-text">Бiографiя або цiкавi факти</div>
          <textarea class="cmn-textarea" id="description" required></textarea>
        </div>
      </div>
    </div>
    <div class="cmn-popup cmn-ppp-error" id="message-box">
      <span class="cmn-text"></span>
    </div>
    <button class="cmn-button cmn-button-center cmn-button-big" id="add-writer">Додати письменника</button>

    <script src="/scripts/cropper.js"></script>
    <script src="/scripts/message.js"></script>
    <script src="/scripts/crop-image.js"></script>

    <script src="/scripts/add-writer.js"></script>
  </body>
</html>