<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/load-page.css">
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <% include ../partials/load-page.ejs %>
    <% include ../partials/nav.ejs %>
    <div class="cmn-row">
      
    </div>
    <div class="cmn-popup cmn-ppp-error" id="message-box">
      <span id='sign-in-message' class="cmn-text"></span>
    </div>
    <script src="/scripts/message.js"></script>
  </body>
</html>